.aui .btn-mini .icon-github {
	font-size: 18px;
	margin-right: 4px;
	vertical-align: -3px;
}

.aui code {
	color: rgb(0, 22, 142);
}

.aui div.showcase-home span.alloy-panel-title {
	font-weight: bold;
}

.aui pre:after {
	content: ' ';
}

.aui .showcase-nav-col .logo {
	margin-top: 4px;
	margin-left: 8px;
}

.aui .showcase-info {
	margin-top: 2px;
	font-style: italic;
	font-size: 0.8em;
}

.aui .showcase-content-column,.aui .showcase-nav-col {
	vertical-align: top;
}

.aui .showcase-nav-col {
	background-color: #f5f5f5;
}

.aui .showcase-content-column,.aui .showcase-nav-col {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.aui .showcase-nav-col .showcase-accordion {
	margin: 4px 4px 4px 4px;
}

.aui .showcase-nav-col .showcase-accordion .accordion-group .accordion-heading .accordion-toggle {
	padding-left: 6px;
}

.aui .showcase-nav-col .showcase-accordion .accordion-group .accordion-heading, .aui .showcase-nav-col .showcase-accordion .toggler-header {
	border-top: 1px solid #ffffff;
}

.aui .showcase-nav-col .showcase-accordion .toggler-header {
	font-weight: bold;
	padding: 6px;
}

.aui .showcase-nav-col .showcase-accordion .toggler-header h3 {
	display: inline;
	margin: 0px;
	vertical-align: middle;
}

.aui .showcase-nav-col .showcase-accordion .toggler-header img {
	vertical-align: middle;
}
	
.aui .showcase-nav-col .showcase-accordion .toggler-content {
	padding: 0px 0px 10px 0px;
}

.aui .showcase-nav-col .showcase-accordion .category-name {
	color: #000000;
	font-size: 12pt;
	font-weight: bold;
	margin-top: 2px;
	margin-left: 4px;
	position: absolute;
}

.showcase-example .alloy-column {
	line-height: 40px;
	margin-top: 2px;
	margin-bottom: 2px;
	min-height: 40px;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.showcase-example-panel {
	border-style: dotted;
	border-width: 1px;
	text-align: center;
}

.aui .nav .nav {
	padding-left: 15px;
}

.aui .nav>li>a.alloy-link {
	padding: 0px 0px 0px 30px;
	white-space: nowrap;
}

.aui .nav>li>a>.alloy-icon {
	margin-left: 4px;
	text-decoration: none;
}

.aui .nav>.active>a.alloy-link,.aui .nav>.active>a.alloy-link:hover {
	text-shadow: none;
}

.aui .nav>li>a.alloy-link:hover {
	text-decoration: underline;
}

.aui .nav .nav>li>a.alloy-link {
	background-color: transparent;
	font-size: 0.9em;
	white-space: nowrap;
}

.aui .nav .nav>.active>a.alloy-link {
	color: #000000;
	font-weight: bold;
	text-shadow: none;
}

.aui a, .aui .alloy-output-text a {
	color: #0058ba;
}

.aui li.tab a, .aui li.tab a:hover {
	color: #0058ba;
}

.aui li.tab a[disabled='disabled'] {
	color: #999999;
}

.aui .nav>li a.alloy-link,.aui .nav>li a.alloy-link:hover,.aui .nav>li.active a.alloy-link,.aui .nav>li.active a.alloy-link:hover,.aui .nav .nav>li>a.alloy-link:hover {
	background-color: transparent;
	color: #0058ba;
}

.showcase-video {
	height: 187px;
	width: 300px;
}

.showcase-audio {
	height: 27px;
	width: 300px;
}

.aui .alloy-body>.row, .aui.alloy-body>.row {
	margin-right: 0px;
}

.aui .alloy-output-text.pad-left {
	padding-left: 15px;
}

.aui .alloy-select-many-listbox, .aui .alloy-select-many-menu, .aui .alloy-select-one-listbox, .aui .alloy-select-one-menu {
	display: block;
}

.aui .nav {
	margin-bottom: 2px;
}
