.aui .btn-mini .icon-github {
	font-size: 18px;
	margin-right: 4px;
	vertical-align: -3px;
}

.aui code {
	color: rgb(0, 22, 142);
}

.aui .showcase-modal-dialog .modal-dialog {
	position: relative;
	z-index: 1050;
}

#content .aui .showcase-outer-row, .aui .showcase-outer-row {
	margin-left: 5px;
}

.aui .showcase-note td {
	vertical-align: top;	
}

.aui .showcase-nav-col .logo {
	display: table-caption;
	margin: 0 auto;
}

.aui .showcase-container {
	margin: 0px 4px 0px 4px;
	padding: 10px 10px 10px;
	*padding-top: 10px;
}
.aui pre:after {
	content: ' ';
}

.aui .showcase-nav-col .logo {
	margin-top: 4px;
	margin-left: 8px;
}

.aui .showcase-info {
	margin-top: 2px;
	font-style: italic;
	font-size: 0.8em;
}

.aui .showcase-content-column,.aui .showcase-nav-col {
	vertical-align: top;
}

.aui .showcase-nav-col {
	background-color: #f5f5f5;
}

.aui .showcase-content-column,.aui .showcase-nav-col {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.aui .showcase-nav-col .showcase-accordion {
	margin: 4px 4px 4px 4px;
}

.aui .showcase-nav-col .showcase-accordion .accordion-group .accordion-heading .accordion-toggle {
	padding-left: 6px;
}

.aui .showcase-nav-col .showcase-accordion .accordion-group .accordion-heading, .aui .showcase-nav-col .showcase-accordion .toggler-header {
	border-top: 1px solid #ffffff;
}

.aui .showcase-nav-col .showcase-accordion .toggler-header {
	font-weight: bold;
	padding: 6px;
}

.aui .showcase-nav-col .showcase-accordion .toggler-header h3 {
	display: inline;
	margin: 0px;
	vertical-align: middle;
}

.aui .showcase-nav-col .showcase-accordion .toggler-header img {
	vertical-align: middle;
}
	
.aui .showcase-nav-col .showcase-accordion .toggler-content {
	padding: 0px 0px 10px 0px;
}

.aui .showcase-nav-col .showcase-accordion .accordion-group .accordion-heading a.accordion-toggle {
	outline:none;
}

.aui .showcase-nav-col .showcase-accordion .category-name {
	color: #000000;
	font-size: 12pt;
	font-weight: bold;
	margin-top: 2px;
	margin-left: 4px;
	display: inline;
}

.showcase-example,.showcase-attribute-value,.showcase-parameter-value,.showcase-model-value,.showcase-container {
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 15px 0;
	position: relative;
}

.showcase-example,.showcase-attribute-value,.showcase-parameter-value,.showcase-model-value {
	*padding-top: 19px;
}

.showcase-example label.example-label,.showcase-attribute-value label.attribute-label,.showcase-parameter-value label.parameter-label,.showcase-model-value label.model-label,.showcase-container label.container-label {
	background-color: #f5f5f5;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	-webkit-border-radius: 4px 0 4px 0;
	-moz-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 4px 0;
	color: #9da0a4;
	font-size: 12px;
	padding: 3px 7px;
	float: left;
}

.example-content {
	clear: both;
	padding: 7px 19px 14px;
}

.showcase-example label.example-label span.example-number,.showcase-attribute-value label.attribute-label,.showcase-parameter-value label.parameter-label,.showcase-model-value label.model-label,.showcase-container label.container-label {
	font-weight: bold;
}

.showcase-example-panel {
	border-style: dotted;
	border-width: 1px;
	text-align: center;
}

.showcase-results {
	clear: both;
}

.aui .nav .nav {
	padding-left: 15px;
}

.aui .nav>li>a.showcase-link {
	padding: 0px 0px 0px 30px;
	white-space: nowrap;
}

.aui .nav>.active>a.showcase-link,.aui .nav>.active>a.showcase-link:hover {
	text-shadow: none;
}

.aui .nav>li>a.showcase-link:hover {
	text-decoration: underline;
}

.aui .nav .nav>li>a.showcase-link {
	background-color: transparent;
	font-size: 0.9em;
	white-space: nowrap;
}

.aui .nav .nav>.active>a.showcase-link {
	color: #000000;
	font-weight: bold;
	text-shadow: none;
}

.aui a {
	color: #0058ba;
}

.aui li.tab a, .aui li.tab a:hover {
	color: #0058ba;
}

.aui li.tab a[disabled='disabled'] {
	color: #999999;
}

.aui .nav>li a.showcase-link,.aui .nav>li a.showcase-link:hover,.aui .nav>li.active a.showcase-link,.aui .nav>li.active a.showcase-link:hover,.aui .nav .nav>li>a.showcase-link:hover {
	background-color: transparent;
	color: #0058ba;
}

.aui .portlet-msg-alert, .aui .portlet-msg-error, .aui .portlet-msg-help, .aui .portlet-msg-info, .aui .portlet-msg-progress,
.aui .portlet-msg-success {
	display: block;
}

.showcase-video {
	height: 187px;
	width: 300px;
}

.showcase-audio {
	height: 27px;
	width: 300px;
}

.aui body>.row, body.aui>.row {
	margin-right: 0px;
}

.aui .pad-left {
	padding-left: 15px;
}

.aui select {
	display: block;
}

.aui .nav {
	margin-bottom: 2px;
}

/*
	Turn off transitions in bootstrap 2.
*/
.bootstrap2 .collapsing {
	display: none;
}
